.menu__header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: fixed;
}


.cabecera__container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
}

