.formcontato__contacto{
    background-color: #264b79;
    opacity: 80%;
    font-size: 16px;
    text-align: left;
    /* width: 100vw;
    padding: 20px 15px 20px 15px;
    justify-content: center;
    line-height: 1.2;
    flex-direction: column; */
}

.formcontato--esquerda{
    display: flex;
    justify-content: center;
}

.formcontato__img{
    /* display: flex;
    align-items: center; */
    height: 35%;
    width: 35%;
    /* padding: 25px 20px; */
}

.formcontato__text{
    background-color: brown;
    width: 100vw;
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    align-self: auto;
    padding: 30px;
}