
.experience{
    font-size: 16px;
    background-color: rgb(13, 13, 46);
    opacity: 70%;
    width: 100vw;
    padding: 0 0 15px 0;
}

.experience__section__title{
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    padding: 30px 0 10px 0;
}

.experiencie__box{
    padding: 15px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* text-align: left;  */
}

.experience__img{
    margin-bottom: 10px;
    width: 80vw;
}

.experience__title{
    font-weight: 700;
    font-size: 18px;
}

.experience__description{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;

}

.experiencia__botao--repo{
    padding: 0.8rem;
    width: 7rem;
    background-color:  #264b79;
    border: none;
    /* cursor: pointer; */
    /* outline: inherit; */
    border-radius: 3.2rem;
    /* background: var(--linear-botes); */
    margin-top: 1rem;
    /* font-size: 1.8rem; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 7rem; */

}

.experience__botao--demo{
    padding: 0.8rem;
    width: 7rem;
    background-color:  #264b79;
    border: none;
    /* cursor: pointer; */
    /* outline: inherit; */
    border-radius: 3.2rem;
    /* background: var(--linear-botes); */
    margin-top: 1rem;
    /* font-size: 1.8rem; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 2rem; */
}


@media (min-width:768px){

    .experience{
        font-size: 1.1em;
    }

    .experience__section__title{
        font-size: 25px;
    }

    .experience__title{
        font-size: 1em;
    }

    .experience__info{
        font-size: 1.2em;
    }

    
    .experiencia__botao--repo{
        padding: 1rem;
        width: 10rem;

    }

    .experience__botao--demo{
        padding: 1rem;
        width: 10rem;
    }

    .experience__img{
        margin-top: 10px;
        margin-bottom: 10px;
        width: 75vw;
    }
    
    .academic__courses{
        font-size: 1.1em;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        text-align: center;
    }

    .academic__title{
        margin-top: 10px;
        font-size: 1.7em;
    }

    .academic__courses__item__img{
        /* position: fixed; */
        margin-bottom: 10px;
        width: 25vw;
    }

    .academic__courses__item__title{
        font-size: 1.2em;
    }

    .academic__courses__item__subtitle{
        margin-bottom: 20px;
    }
}

@media (min-width:1040px){
    .academic{
        width: 90vw;
    }
    
    .academic__courses{
        font-size: 1.3em;
    }

    .academic__title{
        font-size: 1.9em;
    }

}

@media (min-width:1420px){
    .academic{
        width: 94vw;
    }

    .academic__title{
        font-size: 2.1em;
    }
}

