
.experience{
    font-size: 16px;
    background-color: rgb(13, 13, 46);
    opacity: 70%;
    width: 100vw;
    padding: 0 0 15px 0;
}

.experience__section__title{
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    padding: 30px 0 10px 0;
}

.experiencie__box{
    padding: 15px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* text-align: left;  */
}

.experience__img{
    margin-bottom: 10px;
    width: 80vw;
}

.experience__title{
    font-weight: 700;
    font-size: 18px;
}

.experience__description{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;

}

.experiencia__botao--repo{
    padding: 0.8rem;
    width: 7rem;
    background:  #264b79;
    border: 2px solid rgb(247, 243, 247);
    font-weight: 900;
    /* cursor: pointer; */
    /* outline: inherit; */
    /* border-radius: 3.2rem; */
    border-radius: 30px;
    /* background: var(--linear-botes); */
    margin-top: 1rem;
    /* font-size: 1.8rem; */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #4b56d3;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
    /* gap: 7rem; */
}

.experience__botao--demo{
    padding: 0.8rem;
    width: 7rem;
    background:  #264b79;
    border: 2px solid rgb(247, 243, 247);
    font-weight: 900;
    /* cursor: pointer; */
    /* outline: inherit; */
    border-radius: 30px;
    /* background: var(--linear-botes); */
    margin-top: 1rem;
    /* font-size: 1.8rem; */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #4b56d3;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
    /* gap: 2rem; */
}

/* .slide_right:hover {
    box-shadow: inset 400px 0 0 0 #4b56d3;
} */

@media (min-width:768px){

    .experience{
        font-size: 1.1em;
    }

    .experience__section__title{
        font-size: 25px;
    }

    .experience__title{
        font-size: 1em;
    }

    .experience__info{
        font-size: 1.2em;
    }

    
    .experiencia__botao--repo{
        padding: 1rem;
        width: 10rem;

    }

    .experience__botao--demo{
        padding: 1rem;
        width: 10rem;
    }

    .experience__img{
        margin-top: 10px;
        margin-bottom: 10px;
        width: 75vw;
    }
    
}

@media (min-width:1040px){
    .experience{
        width: 90vw;
    }
    
    .experience__section__title{
        font-size: 28px;
    }

    .experience__title{
        font-size: 1.2em;
    }
    
    .experience__img{
        margin-top: 10px;
        margin-bottom: 15px;
        width: 60vw;
    }

}

@media (min-width:1420px){
    .experience{
        width: 94vw;
    }

    .experience__section__title{
        font-size: 34px;
    }

    .experiencie__box{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        gap: 40px;
        }

    .experience__img{
        width: 50vw;
        margin-bottom: 40px;
    }
}

