.skills{
    font-size: 16px;
    background-color: rgb(13, 13, 46);
    opacity: 70%;
    width: 100vw;
    padding: 0 0 15px 0;
    margin-bottom: 0;
}

.skills__line{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    gap: 40px;
    }

.skills__title{
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    padding: 25px 0;
}

/* .skills__box{
    padding: 15px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.skills__img{
    margin-bottom: 10px;
    width: 20vw;
}


@media (min-width:768px){

    .skills{
        font-size: 1.1em;
    }
    .skills__img{
        width: 15vw;
    }

    .skills__title{
        margin-top: 10px;
        font-size: 24px;
    }

    /* .skills__box{
        display: flex;
        /* flex-direction: row; */
        /* background-color: brown;
        align-items: center; */
        /* justify-content: space-evenly; */
        /* text-align: left; */
}

@media (min-width:1040px){
    .skills{
        width: 90vw;
        font-size: 1.2em;
        padding-bottom: 88px;
    }
    .skills__img{
        width: 10vw;
    }

}

@media (min-width:1420px){
   .skills{
        width: 94vw;
        font-size: 1.4em;
   }
}
